name: secret
on: push
env:
  ARTIFACT_NAME: myArtifact
jobs:
  main:
   runs-on: ubuntu-latest
   steps:
     - name: Checkout code
       uses: actions/checkout@v2
     - name: upload artifact
       uses: actions/upload-artifact@v2
       with:
         name: ${{env.ARTIFACT_NAME}}
         path: .
     
     
     
